<!Doctype html>
<html
        lang="ko"
        xmlns:th="https://www.thymeleaf.org"
>

<head>
    <!-- fragments 의 header -->
    <head th:insert="fragments.html::header"></head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- fragments 의 navigation bar -->
    <div th:insert="fragments.html::nav"></div>
    <div style="margin-bottom:50px;"></div>

    <div class="container">
        <div style="margin-bottom:30px;"></div>

        <h1 class="note-notice-title">개인 노트</h1>

        <!-- 노트 작성 Modal Button -->
        <button type="button" class="btn btn-outline-secondary new-btn" data-bs-toggle="modal" data-bs-target="#newNoteModal" data-bs-whatever="@mdo">
           new
        </button>

        <div style="margin-bottom:20px; clear: both;"></div>
        <hr>

        <!-- 노트 작성 Modal -->
        <div class="modal fade" id="newNoteModal" tabindex="-1" aria-labelledby="newNoteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newNoteModalLabel">새 글 쓰기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!--노트 작성 form-->
                    <form th:action="@{/note}" method="post">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="title" class="col-form-label">제목</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            <div class="mb-3">
                                <label for="content" class="col-form-label">내용</label>
                                <textarea class="form-control" rows="10" id="content" name="content"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-secondary">저장</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>



        <!-- 노트 내용 조회 -->
        <div class="row">


                <!-- 노트 개수만큼 반복 -->
                <div class="card note-list" th:each="note : ${notes}">
                    <div class="card-header">
                        <h4 th:text="${note.title}" class="card-title"></h4>
                        <!-- 작성일자 표시 -->
                        <span th:text="${#temporals.format(note.createdAt, 'yyyy-MM-dd')}"></span>
                    </div>

                    <div class="card-body">
                        <p th:text="${note.content}" style="white-space: pre-wrap;"></p>
                        <!-- 노트 삭제 form -->
                        <form th:action="@{/note}" th:method="delete">
                            <input type="hidden" name="id" th:value="${note.id}">
                            <!-- 노트 삭제 버튼 -->
                            <button type="submit" class="btn btn-secondary del-btn">delete</button>
                            <!-- 노트 수정 Modal Button -->
                            <button type="button" class="btn btn-secondary edit-btn" data-bs-toggle="modal" data-bs-target="#editNoteModal" data-bs-whatever="@mdo" >
                                edit
                            </button>
                        </form>
                    </div>

                    <!-- 노트 수정 Modal -->
                    <div class="modal fade" id="editNoteModal" tabindex="-1" aria-labelledby="editNoteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editNoteModalLabel">글 수정</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!--노트 수정 form-->
                                <form th:action="@{/note/edited}" method="post">
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="title" class="col-form-label">제목</label>
                                            <input type="text" class="form-control" id="edittitle" name="title"  th:value="${note.title}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="content" class="col-form-label">내용</label>
                                            <textarea class="form-control" rows="10" id="editcontent" name="content" th:value="${note.content}" th:text="${note.content}"></textarea>
                                        </div>
                                    </div>

                                    <input type="hidden" name="id" th:value="${note.id}">

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-secondary">저장</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                    </div>
                                </form><!--노트 수정 form-->


                            </div>
                        </div>
                    </div><!-- 노트 수정 Modal -->

                </div><!-- 노트 개수만큼 반복 -->
                <div style="margin-bottom:30px;"></div>

            </div>


    </div>

</body>
</html>