.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card-img{
    height: 700px;
    object-fit: cover;
}
.note-list{
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 0px;
}
.nav-link{
    margin-left: 20px;
}
.note-notice-title{
    float: left;
}
.card-title{
    margin-top: 10px;
}
.new-btn{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    border: none;
}

.edit-btn{
    float:right;
    margin-right: 10px;
}
.del-btn{
    float:right;
}